
<header>
  <h1>Articles</h1>
  <form action="/" method='get'>
    <input type="text" name="q" value="<%= params[:q] %>" id="q" autofocus="autofocus" placeholder="type a search query and press enter..." />
  </form>
</header>

<section id="left">
  <p><a href="/">All articles</a> <small class="c i"><%= @articles.size %></small></p>
  <ul id="facets">
  <% @articles.response.aggregations.tags.buckets.each do |term| %>
  <li><a href="/?t=<%= term['key'] %>"><%= term['key'] %></a> <small class="c"><%= term['doc_count'] %></small></li>
  <% end %>
  </ul>
</section>

<section id="main">
<% if @articles.empty?  %>
  <p>No articles found.</p>
<% end %>

<% @articles.each_with_hit do |article, hit|  %>
  <div class="article">
    <h2><%= article.title %></h2>
    <p>
      <%= article.content_html %>

      <% article.tags.each do |tag| %> <strong class="t"><%= tag %></strong><% end %>
    </p>
  </div>
<% end  %>

<% if @articles.size > 0 && @page.next <= @articles.total / settings.per_page %>
  <p class="pagination"><a href="?p=<%= @page.next %>">&rarr; Load next</a></p>
<% end %>
</section>
