
<div class="container">
  <div class="col-sm-2">
    <p><a href="/">All articles</a> <small class="c i"><%= @articles.total %></small></p>
    <ul id="facets">
    <% @articles.response.aggregations.tags.buckets.each do |term| %>
    <li><a href="/?t=<%= term['key'] %>"><%= term['key'] %></a> <small class="c"><%= term['doc_count'] %></small></li>
    <% end %>
    </ul>
  </div>

  <div class="col-sm-10">
  <% if @articles.empty?  %>
    <p>No articles found.</p>
  <% end %>

  <% @articles.each_with_hit do |article, hit|  %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if article.comments.count > 0 %>
        <div class="pull-right">
        <a href="/<%= article.id %>#comments"><span class="badge"><%= article.comments.count %> comment<% if article.comments.count > 1%>s<% end%></span></a>
        </div>
        <% end %>
        <h3 class="panel-title"><a href="/<%= article.id %>"><%= article.title %></a></h3>
      </div>
      <div class="panel-body">
        <%= article.content_html %>
      </div>
      <div class="panel-footer">
        <span class="author"><%= article.author %></span> @ 
        <span class="time"><%= article.time %></span>
        <div class="pull-right">
          <% article.tags.each do |tag| %> <span class="label label-default"><%= tag %></span><% end %>
        </div>
      </div>
    </div>
  <% end  %>

  <% if @articles.size > 0 && @page.next <= @pages %>
  <nav>
    <ul class="pagination">
      <% [ ([@page-5,1].max .. [@page+5,@pages].min).to_a, @pages ].flatten.uniq.each do |p| %>
        <li class="<%= p == @page && "active" %>"> <a href="<%= mod_uri("p" => p) %>"><%= p %></a> </li>
      <% end %>
    </ul>
  </nav>
  <% end %>
  </div>
</div>
